<nav class="navbar navbar-fixed-top">
    <div class="navigation-overlay">
        <div class="container-fluid relative">
            <div class="row">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <div class="logo-container">
                        <div class="logo-wrap local-scroll">
                            <a href="/">
                                <img class="logo img-responsive"
                                     src="{{ asset('images/sitewide/hen-and-stag-logo-transparent.png') }}"
                                     alt="logo">
                            </a>
                        </div>
                    </div>
                </div> <!-- end navbar-header -->


                <div class="col-md-8 col-xs-12 nav-wrap">
                    <div class="collapse navbar-collapse text-center" id="navbar-collapse">

                        <ul class="nav navbar-nav local-scroll text-center">

                            <li class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' }}">
                                <a href="/">Home</a>
                            </li>
                            <li class="{{ app.request.attributes.get('_route') == 'app_hen_activity_list' ? 'active' }}">
                                <a href="{{ path('app_hen_activity_list') }}">Hen parties</a>
                            </li>
                            <li class="{{ app.request.attributes.get('_route') == 'app_stag_activity_list' ? 'active' }}">
                                <a href="{{ path('app_stag_activity_list') }}">Stag parties</a>
                            </li>
                            <li>
                                <a href="#about-us">Event Locations</a>
                            </li>
                            <li>
                                <a href="#blog">Blog</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>

                        </ul>
                    </div>
                </div> <!-- end col -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end navigation -->
</nav> <!-- end navbar -->
