{% extends 'base.html.twig' %}

{% block title %} Hen and Bachelor Party Packages{% endblock %}
{% block body %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#">
            <img src="{{ asset('images/sitewide/hen-and-stag-logo-transparent.png') }}" class="img-fluid col-lg-5 col-md-3 col-sm-4 col-6 " alt="Logo for the Hen and Bachelor Events">
        </a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Hen Parties<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stag Parties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    {# Start of Video/image with H1 and CTA button #}
    <div class="carousel-inner hidden-sm-down" role="listbox">
        <div align="center">
            <video class="video-banner embed-responsive" autoplay="" loop="">
                <source src="http://images.henandstag.co.za/bundles/framework/css/hsp/bachelor-hen-party.webm" type="video/webm">
                <source src="http://images.henandstag.co.za/bundles/framework/css/hs1p/bachelor-hen-party.mp4" type="video/mp4">
            </video>
        </div>
        <div class="carousel-caption">
            <h1 class="display-3">Bachelor and Hen Party Packages</h1>
            <p>Hen and Stag{{ '&#8482;' }} is the leading South African event organiser specialising in activities, accommodation and parties</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Enquire Now</a></p>
        </div>
    </div>

    <div class="carousel-inner hidden-md-up" role="listbox">
        <div align="center">
            <img src="http://images.henandstag.co.za/bundles/framework/css/hsp/cocktail-girls.png" alt="Your experience starts here">
        </div>
        <div class="carousel-caption">
            <h1 class="display-3">Bachelor and Hen Party Packages</h1>
            <p>Hen and Stag{{ '&#8482;' }} is the leading South African event organiser specialising in activities, accommodation and parties</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Enquire Now</a></p>
        </div>
    </div>
    {# End of Video/image with H1 and CTA button #}

    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row text-center">
            <div class="col-md-6 hotspot-wrapper">
                <a href="/development/" class="thumbnail rounded home-thumb">
                    <img src="{{ asset('images/home/girls-drinking-cocktails.jpg') }}" alt="Hen party for girls drinking cocktails">
                </a>
                <h3>Hen Party</h3>
                <p class="text-left">If you are looking for a lavish hen do night or rather a great bargain deal party package then you'll find it here. Hen night planning and ideas for hen party venues</p>
            </div>
            <div class="col-md-6 rounded hotspot-wrapper">
                <a href="/online-marketing/" class="thumbnail rounded home-thumb">
                    <img src="{{ asset('images/home/men-smoking-cigar-whiskey.jpg') }}" alt="Bachelor Party men smoking cigar and drinking whiskey">
                </a>
                <h3>Stag Party</h3>
                <p class="text-left">For adrenaline fueled day time activities to weekend party packages. We can help to organise an unforgettable bachelor party.</p>
            </div>
        </div>

        {#start of "why use us" section#}
        <div class="container text-center">
            <h2>Why should you use us?</h2>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <i class="fa fa-plus-square-o fa-5x" title="Create your own event package"></i>
                    <h3>Create Your Own</h3>
                    <p>Plan the perfect weekend with our Create Your Own service</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <i class="fa fa-calendar-check-o fa-5x" title="Save party date to calendar"></i>
                    <h3>Save The Date</h3>
                    <p>Secure your group booking today with just a R190.00 deposit</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <i class="fa fa-money fa-5x" title="Felxible Payment Plan"></i>
                    <h2>Flexible Payment Plan</h2>
                    <p>Spread your payment costs over a period that suits you</p>
                </div>
            </div>
        </div>
        {#end of "why use us" section#}

        <hr>
        <footer>
            <p>&copy; Hen And Stag {{ "now"|date("Y") }}</p>
        </footer>
    </div> <!-- /container -->


{% endblock %}